body {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white: #fafafa;
}

#root {
  max-width: 650px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
